
# Introduction To Lists

    Lists are ordered, mutable collections of items.
    They can contain items of different data types.

# Video Outline:

    1. Introduction to Lists
    2. Creating Lists
    3. Accessing List Elements
    4. Modifying List Elements
    5. List Methods
    6. Slicing Lists
    7. Iterating Over Lists
    8. List Comprehensions
    9. Nested Lists
    10. Practical Examples and Common Errors

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
names = ['Huzefa','Jack', 'Jacob', 1,2,3,4,5]
print(names) # Get the elements of list

['Huzefa', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [3]:
mixed_list = [1,'Hello', 3,14, True]
print(type(mixed_list))

<class 'list'>

In [4]:
# Accessing the elements of a list
fruits = ['banana', 'apple', 'cherry', 'kiwi', 'guava']

In [5]:
print(fruits[0]) # Access the fruits via index value which starts from 0

banana

In [6]:
print(fruits[2])

cherry

In [7]:
print(fruits[-1]) # using Negative indexing

guava

In [8]:
fruits[-2]

'kiwi'

In [ ]:
# Slicing
fruits[0:2] # the last index value  is not inclusive

['banana', 'apple']

In [12]:
fruits[-3:-1]

['cherry', 'kiwi']

In [14]:
fruits[-1:-3] # This will not give any result

[]

In [15]:
# Modifying the list elements
fruits[1] = 'watermelon'
print(fruits)

['banana', 'watermelon', 'cherry', 'kiwi', 'guava']

In [ ]:
fruits[1:] = 'watermelon' # This will be considering char by char

In [18]:
fruits = ['banana', 'watermelon', 'cherry', 'kiwi', 'guava']

In [23]:
# List methods 
fruits.append('orange') # Adding element to end of the list
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

In [24]:
fruits.insert(0, 'apple')
fruits

['apple', 'apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

In [25]:
# Remove the element from a list
fruits.remove('apple')
fruits

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

In [26]:
# Remove and return the last item
print(fruits.pop())

orange

In [27]:
# get the index of element from the list
fruits.index('cherry')

3

In [28]:
fruits.insert(2,'banana')

In [29]:
fruits

['apple', 'banana', 'banana', 'watermelon', 'cherry', 'kiwi', 'guava']

In [30]:
# Get the count of elements in list
fruits.count('banana')

2

In [32]:
# Sorting the list
fruits.sort()
print(fruits)

['apple', 'banana', 'banana', 'cherry', 'guava', 'kiwi', 'watermelon']

In [35]:
# Reverse the sorted list
fruits.reverse()
fruits

['watermelon', 'kiwi', 'guava', 'cherry', 'banana', 'banana', 'apple']

In [36]:
# Clear all items from the list
fruits.clear()

In [37]:
fruits

[]

In [39]:
# Slicing list
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers[::-2] # Step 2 numbers

[10, 8, 6, 4, 2]

In [42]:
# Iterating over list
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [45]:
# Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [46]:
# List comprehension 
numbers = []
for x in range(10):
    numbers.append(x**2)

print(numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
numbers = [x**2 for x in range(10)]
print(numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
# Syntax for list comprehension
# basic sytax = [expression for item in iterable]
# with conditional statements = [expression for item in iterable if condition ]
# Nested List Comprehension [expression for item1 in iterable for item2 in iterable]
lst = [i for i in range(10) if i%2 == 0]
lst

[0, 2, 4, 6, 8]

In [52]:
## Nested List Comprehension
lst1 = [1,2,3,4]
lst2 = ['a', 'b', 'c', 'd']
pair = [[i,j] for i in lst1 for j in lst2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

# List Assignments

### Assignment 1: Creating and Accessing Lists
Create a list of the first 20 positive integers. Print the list.

In [ ]:
lst = list(range(1,21))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements
Print the first, middle, and last elements of the list created in Assignment 1.

In [12]:
print("First Element: ", lst[0])
print("Middle Element: ", lst[len(lst)//2])
print("Last Element: ",lst[-1])

First Element:  1
Middle Element:  11
Last Element:  20

### Assignment 3: List Slicing
Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [13]:
print("First five elements", lst[0:5])
print("Last five elements: ", lst[-5:])
print("Middle elements: ", lst[5:15])

First five elements [1, 2, 3, 4, 5]
Last five elements:  [16, 17, 18, 19, 20]
Middle elements:  [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Assignment 4: List Comprehensions
Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [14]:
squares = [n**2 for n in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [16]:
even_num = [n for n in lst if n%2==0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [24]:
import random

random_numbers = [random.randint(1,20) for _ in range(5)]
print("Original list: ", random_numbers)

random_numbers.sort()
print("Sorted list", random_numbers)

random_numbers.sort(reverse=True)
print("Sorted in descending order", random_numbers)

unique_numbers = list(set(random_numbers))
print("Unique numbers: ", unique_numbers)

Original list:  [1, 9, 3, 2, 2]
Sorted list [1, 2, 2, 3, 9]
Sorted in descending order [9, 3, 2, 2, 1]
Unique numbers:  [9, 2, 3, 1]

### Assignment 7: Nested Lists
Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [27]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[1][2])

6

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [32]:
student = [
     {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(student,key=lambda x: x['score'], reverse=True)
for student in sorted_students:
    print(student)

{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [47]:
def func(matrix):
    transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix))]
    return transpose
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]
transposed = func(matrix)
for row in matrix:
    print(row)
print()
for row in transposed:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [51]:
def fun(nested_list):
    flattend_list = [item for sublist in nested_list for item in sublist]
    return flattend_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

flattend_list = fun(nested_list)
print(flattend_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [55]:
lst = list(range(1, 11))
print(f"Original list: {lst}")
del lst[6]
del lst[4]
del lst[2]
lst.insert(5, 99)
print(f"Modified list: {lst}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [60]:
lst_1 = list(range(1,11))
lst_2 = list(range(11,21))
new_list = list(zip(lst_1,lst_2))
print(new_list)

[(1, 11), (2, 12), (3, 13), (4, 14), (5, 15), (6, 16), (7, 17), (8, 18), (9, 19), (10, 20)]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [62]:
def func(lst):
    return lst[::-1]
lst = list(range(1,11))
func(lst)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [67]:
def func(lst,n):
    return lst[n:] + lst[:n]
original_list = [1, 2, 3, 4, 5]
rotated_list = func(original_list, 1)
print(original_list)
print(rotated_list)

[1, 2, 3, 4, 5]
[2, 3, 4, 5, 1]

### Assignment 15: List Intersection
Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [72]:
def func(lst1, lst2):
    new_lst = [item for item in lst1 if item in lst2]
    return new_lst
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [random.randint(1,10) for _ in range(10)]
print(lst1)
print(lst2)
func(lst1,lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[8, 6, 3, 6, 9, 6, 4, 6, 9, 6]

[3, 4, 6, 8, 9]