# Tuples

Key takeaways:

    * Introduction to Tuples
    * Creating Tuples
    * Accessing Tuple Elements
    * Tuple Operations
    * Immutable Nature of Tuples
    * Tuple Methods
    * Packing and Unpacking Tuples
    * Nested Tuples
    * Practical Examples and Common Errors

## Introduction to Tuples

### Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
# Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst = list()
print(type(lst))
tpl = ()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
# Type casting from list to tuple
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
# Type casting from tuple to list
list(numbers)

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple = ('Hello', 1,2,3,True)
print(mixed_tuple)

('Hello', 1, 2, 3, True)

In [9]:
# Accessing tuple elements
print(numbers[1])
print(numbers[0])

2
1

In [12]:
# Slicing
print(numbers[0:2:])

(1, 2)

In [13]:
# Tuple operation
concat_tuple = mixed_tuple + numbers
print(concat_tuple)

('Hello', 1, 2, 3, True, 1, 2, 3, 4, 5, 6)

In [16]:
# Airethmetic operation on tuple
mixed_tuple * 3

('Hello', 1, 2, 3, True, 'Hello', 1, 2, 3, True, 'Hello', 1, 2, 3, True)

In [17]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [18]:
# Immutable nature of tuple
# Elements cannot be changed, once assigned
lst = [2,3,4,5]
print(lst)
lst[0] = 'Huzefa'
print(lst)

[2, 3, 4, 5]
['Huzefa', 3, 4, 5]

In [19]:
numbers[1] = 'Krish'

TypeError: 'tuple' object does not support item assignment

In [25]:
# Tuple Methods
print(numbers)
print(numbers.count(1)) # Returns the count of element in list

(1, 2, 3, 4, 5, 6)
1

In [26]:
print(numbers.index(3)) # Returns the index of the value

2

In [30]:
# Packing tuple
packed_tuple = 1, 'Huzefa', 3.14
print(type(packed_tuple))

<class 'tuple'>

In [31]:
# Unpacking tuple
a,b,c = packed_tuple
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [32]:
# Unpacking with * 
numbers = (1,2,3,4,5,6,7)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6]
7

In [37]:
# Nested tuple
# Nested list
# Accessing elements inside nested list and tuple
lst = [[1,2,3,4], [5,6,7,8,9],['Hello',1 ,2, 3]]
print(lst[0][0:2])
print(lst[1][0:2])

[1, 2]
[5, 6]

In [38]:
tup = tuple([[1,2,3,4], [5,6,7,8,9],['Hello',1 ,2, 3]])
print(tup[0][0:2])
print(tup[1][0:2])

[1, 2]
[5, 6]

In [39]:
for sub_tuple in tup:
    for item in sub_tuple:
        print(item, end="")
    print()

1234
56789
Hello123

## Assignments

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [40]:
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [42]:
print("First element: ", tup[0])
print("Middle element: ", tup[len(tup)//2])
print("Last elment: ", tup[-1])

First element:  1
Middle element:  6
Last elment:  10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [44]:
print("First three elements: ",tup[:3])
print("Last three elements: ",tup[-3:])
print("Middle elements: ",tup[2:5])

First three elements:  (1, 2, 3)
Last three elements:  (8, 9, 10)
Middle elements:  (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [45]:
nest_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(nest_tuple[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [47]:
tup_1 = (1,2,3)
tup_2 = (4,5,6)
concat_tuple = tup_1 + tup_2
print(concat_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [51]:
tup_1 = (1,1,2,2,3,3,4,4,5,5,6,7,8,9,0)
print(f"Occurence of 4: {tup_1.count(1)}")
print(f"Index of first occurence of 2: {tup_1.index(2)}")

Occurence of 4: 2
Index of first occurence of 2: 2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [52]:
tup = tuple(range(5))
a,b,c,d,e = tup
print(a)
print(b)
print(c)
print(d)
print(e)

0
1
2
3
4

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [53]:
lst = list(range(1,6))
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [54]:
tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [56]:
tup = tuple(range(1,6))
lst = list(tup)
lst.append(6)
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [58]:
name = 'Huzefa' 
tup = tuple(name)
name = "".join(tup)
print(name)

Huzefa

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [62]:
tup = {
    (1,2):3,
    (3,4):4,
    (5,6):5
}

print(tup)

{(1, 2): 3, (3, 4): 4, (5, 6): 5}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [66]:
nested_tuple = (
    (1,2),
    (3,4)
)

for tup in nested_tuple:
    for item in tup:
        print(item)

1
2
3
4

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [68]:
tup = (1,2,3,4,4,2,6,7,9,5,6,7)
unique = set(tup)
print(unique)

{1, 2, 3, 4, 5, 6, 7, 9}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [72]:
def min_in_tup(tup):
    return min(tup)
def max_in_tup(tup):
    return max(tup)
def sum_in_tup(tup):
    return min(sum)
sample_tuple = (1,2,3,4,5,6,7,8)
print("Minimum: ", min_in_tup(sample_tuple))
print("Maximum: ", max_in_tup(sample_tuple))
print("Sum: ", sum(sample_tuple))

Minimum:  1
Maximum:  8
Sum:  36