# Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
## Create a Set
my_set = {1,2,3,4,5,6}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [2]:
my_set = set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set = set([1,2,3,4,4,5,5,6]) # Ignores duplicate element and its unordered.
print(my_set)

{1, 2, 3, 4, 5, 6}

In [4]:
# Basic set operation
# Adding and removing elements
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
# Remove element from set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.remove(10) # if the element doesn't exist and try to remove
print(my_set)

KeyError: 10

In [ ]:
my_set.discard(10) # Remove element avoiding error
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [11]:
# Clear all the eleement
my_set.clear()

In [12]:
my_set

set()

In [13]:
# Set membership test
my_set = {1,2,3,4,5}
print(3 in my_set)

True

In [ ]:
# Mathematical Operation
set_1 = {1,2,3,4,5,6,7}
set_2 = {2,3,6,8,9,3,5}

# Union
union_set = set_1.union(set_2) # returns all the element in both set
print(union_set)

# Intersection
intersection_set = set_1.intersection(set_2) # Returns the elements which are commmon
print(intersection_set)

set_1.intersection_update(set_2) # Update the common elements in set 1
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5, 6}
{2, 3, 5, 6}

In [17]:
set_1 = {1,2,3,4,5,6,7}
set_2 = {2,3,6,8,9,3,5}
print(set_1.difference(set_2)) # Uncommon elements in set 1 and set 2

{1, 4, 7}

In [19]:
print(set_2.difference_update(set_1))

None

In [ ]:
print(set_1.symmetric_difference(set_2)) # Common elements are removed and rest are added

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
set_2

{8, 9}

In [23]:
set_1 = {1,2,3}
set_2 = {3,4,5}

# is subset
print(set_1.issubset(set_2)) # Check if all the element in set 1 are present in set 2

False

In [24]:
set_1.issuperset(set_2)

False

In [27]:
set_1 = {1,2,3,4,5}
set_2 = {3,4,5}
print(set_2.issubset(set_1)) # Check if all the element in set 1 are present in set 2
set_1.issuperset(set_2)

True

True

In [28]:
# Counting unique words in text
text = "In this tutorial we are discussing about set."
words = text.split()

# converts list of words to set to get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'In', 'discussing', 'tutorial', 'set.', 'are', 'we', 'about', 'this'}
8

# Assignments

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [31]:
my_set = set(range(1, 11))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [32]:
my_set.add(11)
my_set.remove(1)
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [33]:
my_set = {1,2,3,4,5}
even_set = {2,4,6,8,10}
print(f"Union Set: {my_set.union(even_set)}")
print(f"Intersection Set: {my_set.intersection(even_set)}")
print(f"Difference Set: {my_set.difference(even_set)}")
print(f"Symmetric Difference Set: {my_set.symmetric_difference(even_set)}")

Union Set: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection Set: {2, 4}
Difference Set: {1, 3, 5}
Symmetric Difference Set: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [38]:
my_set = {x**2 for x in range(1,11)}
print(my_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [39]:
my_set = set(range(1,11))
even_set = {x for x in my_set if x % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [40]:
s = {1,2,3,4,5,2,3,4,5}
unique = set(s)
print(unique)

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [42]:
set_1 = set(range(1,6))
set_2 = set(range(1,4))
print(f"Second set is a subset of first: {set_2.issubset(set_1)}")
print(f"First set is a superset of second: {set_1.issuperset(set_2)}")

Second set is a subset of first: True
First set is a superset of second: True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [44]:
fs = frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [45]:
s = set(range(1,6))
lst = list(s)
lst.append(6)
s = set(lst)
print(lst)

[1, 2, 3, 4, 5, 6]

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [48]:
my_dict = {
    frozenset({1,2}): 1,
    frozenset({3,4}): 5,
    frozenset({5,6}): 7,

}
print(my_dict)

{frozenset({1, 2}): 1, frozenset({3, 4}): 5, frozenset({5, 6}): 7}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [49]:
my_set = set(range(1,10))
for x in my_set:
    print(x)

1
2
3
4
5
6
7
8
9

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [54]:
my_set = set(range(1,10))
while my_set:
    my_set.pop()
    print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}
{6, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [58]:
set_1 = {1,2,3,4,5,7}
set_2 = {5,6,7,8,9,10}
set_1.symmetric_difference_update(set_2)
print(set_1)

{1, 2, 3, 4, 6, 8, 9, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [59]:
set_1 = {1,2,3,5,9}
for num in range(1,10):
    if num in set_1:
        print(f"Number: {num} is present in set")
    else:
        print(f"Number: {num} is not present in set")

Number: 1 is present in set
Number: 2 is present in set
Number: 3 is present in set
Number: 4 is not present in set
Number: 5 is present in set
Number: 6 is not present in set
Number: 7 is not present in set
Number: 8 is not present in set
Number: 9 is present in set

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [65]:
set_1 = {(1,2),(3,4),(5,6)}
print(set_1)

{(1, 2), (3, 4), (5, 6)}