# Standard Library
Python's standard library is a vast collection of modules and packages that come bundled with python, providing a wide range of functionalities out of the box. Here's an overview of some of the most commonly used modules and packages in Python Standard Library

In [5]:
import array
arr = array.array('i',[1,2,3,4,5])
print(arr)

array('i', [1, 2, 3, 4, 5])

In [7]:
import math
print(math.sqrt(4))
print(math.pi)

2.0
3.141592653589793

In [8]:
# random
import random
print(random.randint(1,10))
print(random.choice(['apple','cherry','banana']))

3
apple

In [13]:
# File and directory access
import os
print(os.getcwd()) # Get current working directory

c:\Users\battih\Desktop\Personal\Data Science\04_Modules_Packages

In [14]:
os.mkdir('test_dir') # Create a folder

In [15]:
# High level operations on files and collection of files
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [ ]:
# Data Serialization: Convert file into a json
import json
data = {'name': 'Krish', 'age':31}
# Serialization
json_str = json.dumps(data)
print(json_str)
print(type(json_str))

{"name": "Krish", "age": 31}
<class 'str'>

In [ ]:
# Deserialization
print(json.loads(json_str))
print(type(json.loads(json_str)))

{'name': 'Krish', 'age': 31}
<class 'dict'>

In [22]:
# csv 
import csv
with open('example.csv',mode='w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Huzefa',31])

with open('example.csv',mode='r',newline='') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Huzefa', '31']

In [24]:
# Datetime
from datetime import datetime, timedelta

now = datetime.now()
print(now)

yesterday = now - timedelta(days=1)
print(yesterday)

2025-05-04 12:51:24.135583
2025-05-03 12:51:24.135583

In [25]:
## time
import time
print(time.time())
time.sleep(2)
print(time.time())

1746343352.4685102
1746343354.4703104

In [28]:
# Regular expression
import re

pattern = r'\d+'

text = 'There are 123 apples'

match = re.search(pattern,text)
print(match)

<re.Match object; span=(10, 13), match='123'>